---
title: Verifiable Systems & Organizations
superTitle: About Us
intro: |
    We believe in the flourishing of better relationships between people and
    protocols.
---
<main class="u-rowGap--xloose">
    {%
        include page-title.html
            title=page.title
            superTitle=page.superTitle
            intro=page.intro
    %}

    <section class="u-centered u-columnGap--normal">
        <div class="u-alignItems--flexEnd u-rowGap--normal">
            <img
                class="photo"
                src="{{ 'assets/img/about/photo-1.png' | relative_url }}"
                alt="Photo"
            />
            <img
                class="photo"
                src="{{ 'assets/img/about/photo-2.png' | relative_url }}"
                alt="Photo"
                style="width: 70%"
            />
        </div>
        <div class="u-rowGap--normal">
            <img
                class="photo"
                src="{{ 'assets/img/about/photo-3.png' | relative_url }}"
                alt="Photo"
                style="width: 50%"
            />
            <img
                class="photo"
                src="{{ 'assets/img/about/photo-4.png' | relative_url }}"
                alt="Photo"
            />
        </div>
    </section>

    <section class="grid u-alignItems--flexStart u-columnGap--normal u-stackVerticallyIfMobile">
        <div class="u-rowGap--normal u-spanColumns--6">
            <h3
                class="
                    heading
                    sectionTitle-heading--leftAligned
                    u-fontSize--h3
                    u-whiteSpace--nowrap
                "
            >
                Our Work
            </h3>
            <p>
                Our work has three themes, reflecting the three key aspects of
                our mission: <strong>verifiable</strong>,
                <strong>systems</strong>, and <strong>organizations</strong>.
            </p>
        </div>
        <div class="u-spanColumns--6 u-rowGap--loose">
            <div class="u-rowGap--tight">
                <div>
                    <img
                        class="photo--autoWidth"
                        src="{{
                            'assets/img/about/theme-icon-verifiable.svg'
                                | relative_url
                        }}"
                    />
                </div>
                <div class="u-rowGap--tight">
                    <h4 class="heading u-fontSize--xlarge">
                        Verifiable
                    </h4>
                    <p>
                        We make formal verification technology more accessible by
                        developing tools and processes to improve the quality and
                        experience of software engineering. We believe that
                        accessible specification languages, powerful solvers, and
                        toolkits for integrating with modern software can transform
                        our ability to build and maintain critical, trusted systems.
                    </p>
                </div>
            </div>

            <div class="u-rowGap--tight">
                <div>
                    <img
                        class="photo--autoWidth"
                        src="{{
                            'assets/img/about/theme-icon-systems.svg'
                                | relative_url
                        }}"
                    />
                </div>
                <div class="u-rowGap--tight">
                    <h4 class="heading u-fontSize--xlarge">
                        Systems
                    </h4>
                    <p>
                        We are a core developer of the Cosmos Network, where we
                        focus on sovereign, interoperable technologies for more
                        sustainable communities. We believe that system scaling
                        is as much a social problem as it is a technical one,
                        and that fixing the exploitative monetization of the
                        internet may require a renewed understanding of money
                        itself.
                    </p>
                </div>
            </div>

            <div class="u-rowGap--tight">
                <div>
                    <img
                        class="photo--autoWidth"
                        src="{{
                            'assets/img/about/theme-icon-organizations.svg'
                                | relative_url
                        }}"
                    />
                </div>
                <div class="u-rowGap--tight">
                    <h4 class="heading u-fontSize--xlarge">
                        Organizations
                    </h4>
                    <p>
                        We are structured as a workers co-operative, organized
                        around a collaborative web of workflows. We believe in a
                        more sustainable form of technology organization that
                        nurtures its employees and improves its society.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="aboutUs-valuesGrid grid">
        <div class="aboutUs-valuesGridHeader u-rowGap--normal u-spanColumns--8">
            <h3
                class="
                    heading
                    sectionTitle-heading--leftAligned
                    u-fontSize--h3
                    u-whiteSpace--nowrap
                "
            >
                Our<br />Values
            </h3>
        </div>
        {% for value in site.data.config.values %}
            <div
                class="
                    u-backgroundColor--{% cycle "purple--100", "yellow--100" %}
                    u-padding--normal
                    u-rowGap--tight
                "
            >
                <div>
                    <img
                        class="photo--autoWidth"
                        src="{{
                            'assets/img/about/value-icon-'
                                | append: value.label
                                | append: '.svg'
                                | downcase
                                | relative_url
                        }}"
                    />
                </div>
                <div class="u-rowGap--tight">
                    <h4 class="heading u-fontSize--h6">
                        {{ value.label }}
                    </h4>
                    {{ value.description | markdownify }}
                </div>
            </div>
        {% endfor %}
    </section>

    <section class="u-rowGap--loose">
        <div class="grid u-centered u-rowGap--normal u-spanColumns--8">
            <h3
                class="
                    heading
                    sectionTitle-heading--centerAligned
                    u-fontSize--h3
                    u-whiteSpace--nowrap
                "
            >
                Workers Coop
            </h3>
            <p>
                We are a worker-owned organization, composed of a diverse group
                of people from around the world. Join us!
            </p>
        </div>

        <div
            class="
                grid
                u-alignItems--flexStart
                u-columns--4
                u-columnGap--normal
                u-fontSize--small
                u-rowGap--loose
            "
        >
            {%
                assign teamMembers =
                    site.data.config.teamMembers | sort: "name"
            %}
            {% for teamMember in teamMembers %}
                {% assign modalWindowID = teamMember.name | downcase | replace: ' ', '-' %}
                <div class="u-rowGap--tight">
                    <div class="u-flexShrink--0">
                        <img
                            class="photo"
                            src="{{
                                'assets/img/portraits/'
                                    | append: teamMember.name
                                    | downcase
                                    | replace: ' ', '-'
                                    | append: '.png'
                                    | relative_url
                            }}"
                            onerror="this.src='{{ 'assets/img/portraits/profile-placeholder.png' | relative_url }}'"
                            alt="Portrait of {{ teamMember.name }}"
                        />
                    </div>
                    <h4 class="heading u-fontSize--large">
                        {{ teamMember.name }}
                    </h4>
                    <div class="u-rowGap">
                        <div
                            class="
                                u-color--foreground--secondary
                                u-maxLines--3
                            "
                        >
                            {{ teamMember.bio | markdownify }}
                        </div>
                        <p>
                            <button
                                class="link u-color--foreground js-modal-trigger"
                                data-modal-id="{{ modalWindowID }}"
                            >
                                Read More
                            </button>
                        </p>
                    </div>
                </div>
                <div
                    class="modalWindow-container js-modal is-closed"
                    data-modal-id="{{ modalWindowID }}"
                >
                    <article
                        class="
                            modalWindow
                            u-alignItems--flexStart
                            u-columnGap--normal
                            u-stackVerticallyIfMobile
                        "
                    >
                        <button
                            class="modalWindow-closeButton link js-modal-trigger"
                            data-modal-id="{{ modalWindowID }}"
                        >
                            <i class="fal fa-times"></i>
                            <span class="u-screenReadersOnly">
                                Close Window
                            </span>
                        </button>
                        <div class="u-rowGap--tight">
                            <p class="u-fontSize--small">
                                <a
                                    class="js-modal-trigger"
                                    data-modal-id="{{ modalWindowID }}"
                                    href="#"
                                >
                                    Team
                                </a>
                            </p>
                            <h5 class="heading u-fontSize--xlarge">
                                {{ teamMember.name }}
                            </h5>
                            <div class="u-rowGap--tight u-fontSize--small">
                                {{ teamMember.bio | markdownify }}
                            </div>
                            <ul class="u-columnGap--tight">
                                {% for socialLink in teamMember.socialLinks %}
                                    <li>
                                        <a
                                            href="{{ socialLink.url }}"
                                            target="_blank"
                                        >
                                            <i class="fab fa-{{ socialLink.service | downcase }}"></i>
                                            <span class="u-screenReadersOnly">
                                                {{ socialLink.service | capitalize }}
                                            </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="u-flexShrink--0">
                            <img
                                class="photo"
                                src="{{
                                    'assets/img/portraits/'
                                        | append: teamMember.name
                                        | downcase
                                        | replace: ' ', '-'
                                        | append: '.png'
                                        | relative_url
                                }}"
                                alt="Portrait of {{ teamMember.name }}"
                                onerror="this.src='{{ 'assets/img/portraits/profile-placeholder.png' | relative_url }}'"
                                style="max-width: 250px"
                            />
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </section>

    <section>
        {% include banner-start-your-career.html %}
    </section>
</main>
