---
title: Careers at Informal
superTitle: Careers
intro: |
    Our cooperatively owned and governed company is a growing team with world-class
    expertise in distributed systems, formal verification, and open-source
    ecosystem.
---

{% include page-title.html %}

<section class="grid-container">
    <div class="grid">
        <ul class="avatarList avatarList--large">
            <li class="avatar"></li>
            <li class="avatar"></li>
            <li class="avatar"></li>
            <li class="avatar"></li>
            <li class="avatar"></li>
            <li class="avatar">&plus;21</li>
            <li class="avatarSpacer">&plus;</li>
            <li class="avatar avatar--placeholder">You</li>
        </ul>
    </div>
</section>

<section class="grid-container">
    <div class="grid">
        {% include tabbed-nav.html menuItems=site.careers.categories %}
    </div>
</section>

{% for career in site.careers %}
    {% if forloop.first == false %}
        <div class="grid-container">
            <div class="grid">
                <div class="horizontalRule"></div>
            </div>
        </div>
    {% endif %}

    <div class="grid-container">
        <article class="grid u-rowGap--normal">
            <header class="u-rowGap--tight">
                <h3 class="heading--2">
                    <a href="{{ career.url | relative_url }}">
                        {{ career.jobTitle }}
                        &mdash;
                        {{ career.groupName }}
                    </a>
                </h3>
                <dl class="iconifiedMetaData">
                    <div class="iconifiedMetaData-labelValuePair">
                        <dt class="iconifiedMetaData-label">
                            <i class="iconifiedMetaData-labelIcon far fa-clock"></i>
                            <span class="iconifiedMetaData-labelText">
                                Job Type
                            </span>
                        </dt>
                        <dd class="iconifiedMetaData-value">
                            Full Time
                        </dd>
                    </div>
                    <div class="iconifiedMetaData-labelValuePair">
                        <dt class="iconifiedMetaData-label">
                            <i class="iconifiedMetaData-labelIcon far fa-clock"></i>
                            <span class="iconifiedMetaData-labelText">
                                Location
                            </span>
                        </dt>
                        <dd class="iconifiedMetaData-value">
                            {{ career.locations | join: ", " }}
                        </dd>
                    </div>
                </dl>
            </header>

            <main>
                {{ career.content | truncate: 200, "..." | markdownify }}
            </main>
        </article>
    </div>
{% endfor %}
