{% capture content %}
    <p>
        Are you interested in our security audit services and what
        makes them unique from our competitors? Share with us
        information about your project and we’ll be in touch to
        explore how our audit services can make your system more
        secure.
    </p>

    <p>
        <a
            href="mailto:hello@informal.systems.com"
            class="
                button--primary
                u-backgroundColor--background
                u-color--foreground
            "
        >
            Get in Touch
        </a>
    </p>
{% endcapture %}
{%
    include banner.html
        headline="Audit Inquiry"
        content=content
%}
