{% capture content %}
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
        necessitatibus aspernatur. Laboriosam facilis quod ex aspernatur
        laudantium? A voluptate qui reiciendis! Amet laudantium veritatis
        eveniet beatae dolorem aspernatur nisi voluptatem!
    </p>

    <form
        action="https://systems.us4.list-manage.com/subscribe/post?u=0f6ea1a79dbcc56e2f4c22ec8&amp;id=06adecf928"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate u-columnGap--normal u-stackVerticallyIfMobile js-newsletter-form"
        target="_blank"
        novalidate
    >
        <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input
                type="text"
                name="b_0f6ea1a79dbcc56e2f4c22ec8_06adecf928"
                tabindex="-1"
                value=""
            />
        </div>
        <div class="formField">
            <span class="formField-label u-screenReadersOnly">
                Email Address
            </span>
            <input
                class="input u-backgroundColor--background u-color--foreground js-newsletter-email-field"
                type="email"
                name="EMAIL"
                placeholder="Your Email Address"
            />
        </div>
        <button
            class="
                button--primary
                u-border--hairline
                u-borderColor--background
            "
            name="subscribe"
            type="submit"
        >
            Get Our Newsletter
        </button>
    </form>
{% endcapture %}
{%
    include banner.html
        headline="Don&rsquo;t miss updates from us"
        content=content
%}
