<section class="grid-container">
    <div
        class="
            bgOrbits
            grid
            u-backgroundColor--foreground
            u-borderRadius--xlarge
            u-color--background
            u-paddingY--xloose
            u-paddingX--xloose
        "
    >
        <div class="u-paddingRight--xloose u-rowGap--loose">
            <h2 class="heading u-fontSize--h3">
                {%- capture headlineMinusOrphans -%}
                    {{
                        include.headline
                            | split: ""
                            | reverse
                            | join: ""
                            | replace_first: ' ', '===='
                            | split: ""
                            | reverse
                            | join: ""
                            | replace_first: '====', '&nbsp;'
                    }}
                {%- endcapture -%}

                {{ headlineMinusOrphans }}
            </h2>

            {{ include.content }}
        </div>
    </div>
</section>
