{% capture content %}
    <p>
        Cephalopod is a leading validator across multiple Proof-of-Stake blockchain
        networks in the Cosmos ecosystem, and beyond. Get in touch to learn more
        about our operations and how to become a delegator.
    </p>

    <p class="u-columnGap--normal u-stackVerticallyIfMobile">
        <a
            class="
                button--secondary
                u-border--hairline
                u-borderColor--background
            "
            href="https://cephalopod.equipment/"
            target="_blank"
        >
            Visit Website
        </a>
        <a
            href="#"
            class="
                button--secondary
                u-backgroundColor--background
                u-color--foreground
            "
        >
            Request More Information
        </a>
        <a
            href="#"
            class="button--secondary u-border--hairline u-borderColor--background"
        >
            Delegate
        </a>
    </p>
{% endcapture %}
{%
    include banner.html
        headline="Learn more about Cephalopod"
        content=content
%}
