{% capture content %}
    <p>
        Explore career opportunities at our cooperatively owned and governed
        organization, with world-class expertise in distributed systems, formal
        verification, and open-source ecosystem.
    </p>

    <p>
        <a
            class="
                button--primary
                u-backgroundColor--background
                u-color--foreground
            "
            href="{{ 'careers' | relative_url }}"
        >
            Apply Now
        </a>
    </p>
{% endcapture %}
{%
    include banner.html
        headline="Start your career with Informal Systems"
        content=content
%}
