{% capture content %}
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
        necessitatibus aspernatur. Laboriosam facilis quod ex aspernatur
        laudantium? A voluptate qui reiciendis! Amet laudantium veritatis
        eveniet beatae dolorem aspernatur nisi voluptatem!
    </p>

    <form class="u-columnGap--normal u-stackVerticallyIfMobile" action="#">
        <div class="formField">
            <span class="formField-label u-screenReadersOnly">
                Email Address
            </span>
            <input
                class="input u-backgroundColor--background"
                type="email"
                placeholder="Your Email Address"
            />
        </div>
        <button
            class="
                button--primary
                u-border--hairline
                u-borderColor--background
            "
        >
            Get Our Newsletter
        </button>
    </form>
{% endcapture %}
{%
    include banner.html
        headline="Don&rsquo;t miss updates from us"
        content=content
%}
