{%
    include page-title.html
        title=page.title
        superTitle=page.superTitle
        intro=page.intro
%}

<section class="grid-container">
    <div class="grid">
        <ul class="careersPage-avatarList">
            {%
                assign teamMembers =
                    site.data.config.teamMembers | sort: "name"
            %}
            {% for teamMember in teamMembers limit:6 %}
                <li class="careersPage-avatarListItem">
                    <img
                        class="photo"
                        src="{{
                            'assets/img/portraits/'
                                | append: teamMember.name
                                | downcase
                                | replace: ' ', '-'
                                | append: '.png'
                                | relative_url
                        }}"
                        onerror="this.src='{{ 'assets/img/portraits/profile-placeholder.png' | relative_url }}'"
                        alt="Portrait of {{ teamMember.name }}"
                    />
                </li>
            {% endfor %}
            <li class="careersPage-avatarListItem careersPage-avatarListSpacer">&plus;</li>
            <li class="careersPage-avatarListItem careersPage-avatarListUser">You</li>
        </ul>
    </div>
</section>

<section class="grid-container">
    <div class="grid">
        {% include tabbed-nav.html menuItems=site.careerCategories %}
    </div>
</section>

{% assign count = 0 %}
{% for career in site.careers %}
    {% if page.category == "All" or career.category == page.category %}
        {% assign count = count | plus: 1 %}

        {% if count > 1 %}
            <div class="grid-container">
                <div class="grid">
                    <div class="horizontalRule"></div>
                </div>
            </div>
        {% endif %}

        {% include post-list-item.html post=career %}
    {% endif %}
{% endfor %}

{% if count == 0 %}
    <div class="grid-container">
        <article class="grid u-rowGap--normal">
            There are currently no postings in {{ page.category }}, but check back soon or reach out.
        </article>
    </div>
{% endif %}

{% include banner-newsletter.html %}
