{%
    include page-title.html
        title=page.title
        superTitle=page.superTitle
        intro=page.intro
%}

<section class="grid-container">
    <div class="grid">
        <ul class="avatarList avatarList--xlarge">
            <li class="avatar"></li>
            <li class="avatar"></li>
            <li class="avatar"></li>
            <li class="avatar"></li>
            <li class="avatar"></li>
            <li class="avatar">&plus;21</li>
            <li class="avatarSpacer">&plus;</li>
            <li class="avatar avatar--placeholder">You</li>
        </ul>
    </div>
</section>

<section class="grid-container">
    <div class="grid">
        {% include tabbed-nav.html menuItems=site.careerCategories %}
    </div>
</section>

{% assign count = 0 %}
{% for career in site.careers %}
    {% if page.category == "All" or career.category == page.category %}
        {% assign count = count | plus: 1 %}

        {% if count > 1 %}
            <div class="grid-container">
                <div class="grid">
                    <div class="horizontalRule"></div>
                </div>
            </div>
        {% endif %}

        {% assign title = career.jobTitle | append: " &mdash; " | append: career.groupName %}

        {% assign url = career.url | relative_url %}

        {% include post-list-item.html post=career %}
    {% endif %}
{% endfor %}

{% if count == 0 %}
    <div class="grid-container">
        <article class="grid u-rowGap--normal">
            There are currently no postings in {{ page.category }}, but check back soon or reach out.
        </article>
    </div>
{% endif %}
