{% capture dontMissOut %}
    <h2 class="heading--1">
        {% assign headline = "Don&rsquo;t miss updates from us" %}
        {%- capture headlineMinusOrphans -%}
            {{
                headline
                    | split: ""
                    | reverse
                    | join: ""
                    | replace_first: ' ', '===='
                    | split: ""
                    | reverse
                    | join: ""
                    | replace_first: '====', '&nbsp;'
            }}
        {%- endcapture -%}

        {{ headlineMinusOrphans }}
    </h2>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo,
        necessitatibus aspernatur. Laboriosam facilis quod ex aspernatur
        laudantium? A voluptate qui reiciendis! Amet laudantium veritatis
        eveniet beatae dolorem aspernatur nisi voluptatem!
    </p>

    <form class="u-columnGap--normal" action="#">
        <div class="formField">
            <span class="formField-label u-screenReadersOnly">
                Email Address
            </span>
            <input class="input" type="email" placeholder="Your Email Address" />
        </div>
        <button class="button--primary">
            Get Our Newsletter
        </button>
    </form>
{% endcapture %}

{% include high-contrast-block.html content=dontMissOut %}

<footer class="siteFooter grid-container">
    <div class="grid">
        <div class="u-columns--3 u-columnGap--normal">
            <div class="u-rowGap--normal">
                <h4>
                    <a
                        href="{{ site.menuItems[0].url | relative_url }}"
                        class="logo--footer"
                    >
                        informal
                    </a>
                </h4>

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum
                    deleniti quod eos pariatur laudantium hic, consequatur
                    soluta, minus suscipit ipsam assumenda culpa impedit dicta,
                    sed dolores ullam aliquid quidem exercitationem.
                </p>

                <ul class="u-columnGap--tight">
                    {% for socialLink in site.socialLinks %}
                        <li>
                            <a
                                class="socialLink-button"
                                href="{{ socialLink.url }}"
                            >
                                <i class="{{ socialLink.icon }}"></i>
                                <span class="u-screenReadersOnly">
                                    {{ socialLink.label }}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="u-rowGap--normal">
                <h4 class="heading--3">
                    Links
                </h4>

                <ul class="u-rowGap--xtight">
                    {% for menuItem in site.footerMenuItems %}
                        <li>
                            <a href="{{ menuItem.url | relative_url }}">
                                {{ menuItem.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="u-rowGap--normal">
                <h4 class="heading--3">
                    Contact
                </h4>

                <form action="#" class="u-rowGap--tight">
                    <label class="formField">
                        <span class="formField-label u-screenReadersOnly">
                            Subject
                        </span>
                        <input class="input" placeholder="Subject" type="text" name="subject" />
                    </label>
                    <label class="formField">
                        <span class="formField-label u-screenReadersOnly">
                            Email Address
                        </span>
                        <input class="input" placeholder="Email Address" type="text" name="email_address" />
                    </label>
                    <button class="button--primary">
                        Apply Now
                    </button>
                </form>
            </div>
        </div>
    </div>
</footer>
