<div class="grid-container">
    <article class="grid u-rowGap--normal">
        <header class="u-rowGap--tight">
            <h3 class="heading u-fontSize--h6">
                <a
                    class="link--discreet"
                    href="{{ include.post.url | relative_url }}"
                >
                    {{ include.post.title }}
                </a>
            </h3>
            <dl class="iconifiedMetaData u-stackVerticallyIfMobile">
                <div class="iconifiedMetaData-labelValuePair">
                    <dt class="iconifiedMetaData-label">
                        <i class="iconifiedMetaData-labelIcon far fa-calendar"></i>
                        <span class="iconifiedMetaData-labelText">
                            Date
                        </span>
                    </dt>
                    <dd class="iconifiedMetaData-value">
                        {{ post.date | date: "%Y-%m-%d" }}
                    </dd>
                </div>
                <div class="iconifiedMetaData-labelValuePair">
                    <dt class="iconifiedMetaData-label">
                        <i class="iconifiedMetaData-labelIcon far fa-user"></i>
                        <span class="iconifiedMetaData-labelText">
                            Author
                        </span>
                    </dt>
                    <dd class="iconifiedMetaData-value">
                        {{ include.post.author }}
                    </dd>
                </div>
            </dl>
        </header>

        <main class="post u-rowGap--normal">
            {{ include.post.excerpt }}
        </main>
    </article>
</div>
