<nav class="tabbedNav">
    <ul class="tabbedNav-tabs">
        {% for menuItem in include.menuItems %}
            {% if menuItem == "All" %}
                {% assign entriesInCategory = site.careers | size %}
            {% else %}
                {% assign entriesInCategory = site.careers | where: "category", menuItem | size %}
            {% endif %}
            <li
                class="
                    tabbedNav-tab
                    {% if menuItem == page.category %}
                        is-active
                    {% endif %}
                "
            >
                <a
                    class="tabbedNav-tabButton u-columnGap--xtight"
                    href="./{% if menuItem != "All" %}{{ menuItem | downcase }}{% endif %}"
                >
                    <span>{{ menuItem }}</span>
                    <span class="pill">
                        {{ entriesInCategory }}
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
