@import url("https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&family=Inter:wght@400;500&display=swap");

$breakpointDefinitions: (
    xLarge: (
        min-width: 1280px,
        grid-width: 1170px,
    ),
    large: (
        min-width: 1024px,
        grid-width: 960px,
    ),
);

$color--accent: #2f87a5;
$color--accent--magenta: #e071dc;
$color--accent--burgundy: #ab534d;
$color--background: white;
$color--foreground: #0b2d7c;

$border--hairline: 1px solid rgba($color--foreground, 0.1);
$border--thick: 4px solid rgba($color--foreground, 0.1);

$borderRadius--normal: 4px;

$boxShadow--normal: 2px 2px 4px 0 rgba(black, 0.2);
$boxShadow--inset: 2px 2px 4px 0 rgba(black, 0.2) inset;

$textShadow--lightOnDark: 1px 1px 3px rgba(black, 0.6);

$fontFamily--body: Inter, sans-serif;
$fontFamily--display: Glegoo, sans-serif;

$fontWeight--body--normal: 400;
$fontWeight--body--bold: 500;
$fontWeight--display: 700;

$whiteSpace--xTight: calc(var(--gridUnit) * 0.25);
$whiteSpace--tight: calc(var(--gridUnit) * 0.5);
$whiteSpace--normal: var(--gridUnit);
$whiteSpace--loose: calc(var(--gridUnit) * 2);
$whiteSpace--xLoose: calc(var(--gridUnit) * 4);

@mixin responsiveStylesFor($breakpointName) {
    $breakpointDefinition: map-get($breakpointDefinitions, $breakpointName);
    $minWidth: map-get($breakpointDefinition, "min-width");

    @media screen and (min-width: $minWidth) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    line-height: 1.5em;
    list-style-type: none;
    text-decoration: none;
    color: unset;
}
:root {
    --gridUnit: 30px;

    --fontSize--small: 16px;
    --fontSize--normal: 24px;
    --fontSize--large: 40px;
    --fontSize--xLarge: 80px;

    --lineHeight--small: 1.5rem;
    --lineHeight--normal: 1.5rem;
    --lineHeight--large: 1.5rem;
    --lineHeight--xLarge: 1.5rem;

    --avatarSize--normal: 60px;
    --avatarSize--large: 120px;

    background: $color--background;
    color: $color--foreground;
    font-family: $fontFamily--body;
    font-size: var(--fontSize--normal);
    line-height: var(--lineHeight--normal);
}
.avatar,
.avatarSpacer {
    align-items: center;
    border-radius: 1000px;
    display: flex;
    height: var(--avatarSize, --avatarSize--normal);
    justify-content: center;
    width: var(--avatarSize, --avatarSize--normal);
}
.avatar {
    background-color: $color--accent;
    box-shadow: $boxShadow--inset;
    color: white;
    text-shadow: $textShadow--lightOnDark;
}
.avatarSpacer {
    font-size: var(--fontSize--large);
}
.avatar--placeholder {
    background-color: $color--foreground;
}
.avatarList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatarList--large {
    --avatarSize: var(--avatarSize--large);
}
@keyframes bgBubblePulsate {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0.6;
    }
}
@keyframes bgBubbleRotate {
    from {
        transform: scale(2) rotate(0) translate(1%, 1%);
    }
    to {
        transform: scale(2) rotate(359deg) translate(1%, 1%);
    }
}
.bgBubbles {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}
.bgBubble {
    --animation-duration: 4s;

    animation-direction: alternate;
    animation-duration: var(--animation-duration), calc(var(--animation-duration) * 2);
    animation-iteration-count: infinite;
    animation-name: bgBubblePulsate, bgBubbleRotate;
    animation-timing-function: ease;
    border-radius: 100vw;
    height: 700px;
    position: fixed;
    width: 700px;
}
.bgBubble--a {
    --animation-duration: 4s;

    left: -20vw;
    top: -20vh;
}
.bgBubble--b {
    --animation-duration: 6s;

    right: -5vw;
    top: -40vh;
}
.bgBubble--c {
    --animation-duration: 5s;

    right: -30vw;
    bottom: -20vh;
}
.grid-container {
    margin: 0 auto;

    & + & {
        margin-top: $whiteSpace--loose;
    }

    $largeBreakpointDefinition: map-get($breakpointDefinitions, "large");
    $xLargeBreakpointDefinition: map-get($breakpointDefinitions, "xLarge");

    @include responsiveStylesFor("large") {
        width: map-get($largeBreakpointDefinition, "grid-width");
    }

    @include responsiveStylesFor("xLarge") {
        width: map-get($xLargeBreakpointDefinition, "grid-width");
    }
}
.pageHeader-superTitle {
    font-weight: $fontWeight--body--bold;
}
.pageHeader-title {
    font-family: $fontFamily--display;
    font-size: var(--fontSize--xLarge);
    font-weight: $fontWeight--display;
}
.siteHeader {
    align-items: center;
    display: flex;
    font-size: var(--fontSize--small);
    justify-content: space-between;
    margin-bottom: $whiteSpace--loose;
    padding: $whiteSpace--normal 0;
}
.siteHeader-logoLink {
    // background-image set in _layouts/default.html
    display: block;
    font-size: 0;
    height: 48px;
    width: 120px;
}
.siteHeader-nav {
    font-family: $fontFamily--display;
    font-weight: $fontWeight--display;
}
.siteHeader-navItems {
    display: flex;
    column-gap: $whiteSpace--normal;
}
.siteHeader-navItemButton {
    display: block;
    padding-bottom: $whiteSpace--xTight;

    &:hover {
        color: $color--accent;
    }
    .siteHeader-navItem--hasSubMenu & {
        display: flex;
        column-gap: $whiteSpace--xTight;

        &::after {
            content: "\f078"; // chevron-down
            font-family: "Font Awesome 5 Pro";
            display: inline-block;
        }
    }
}
.siteHeader-navItem--hasSubMenu {
    position: relative;
}
.siteHeader-navItem--isActive {
    color: $color--accent;
    position: relative;

    &::after {
        background-color: $color--accent;
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
    }
}
.siteHeader-subMenu {
    background-color: white;
    border-radius: $borderRadius--normal;
    box-shadow: $boxShadow--normal;
    left: calc(#{$whiteSpace--tight} * -1);
    min-width: 200px;
    opacity: 0;
    padding: $whiteSpace--xTight;
    position: absolute;
    top: 100%;
    transform: scale(0.8);
    transition: all 0.125s;
    transition-property: opacity, transform;
    white-space: nowrap;

    :hover > & {
        opacity: 1;
        transform: scale(1);
    }
    &:focus-within {
        transform: scale(0.95);
        transition-duration: 0.05s;
    }
}
.siteHeader-subMenuItemButton {
    display: block;
    padding: $whiteSpace--xTight $whiteSpace--tight;

    :hover > & {
        background-color: rgba($color--accent, 0.1);
        color: $color--accent;
    }
}
.tabbedNav {
    border-bottom: $border--hairline;
}
.tabbedNav-tabs {
    column-gap: $whiteSpace--loose;
    display: flex;
    font-family: $fontFamily--display;
    font-weight: $fontWeight--display;
}
.tabbedNav-tab {
}
.tabbedNav-tabButton {
    display: block;
    padding-bottom: $whiteSpace--tight;

    .tabbedNav-tab.is-active > & {
        border-bottom: $border--thick;
        border-color: $color--accent;
        color: $color--accent;
    }
}
