@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;600&family=Inter:wght@300;500&display=swap');

@mixin increaseSpecificity {
    &#{&} {
        @content;
    }
}

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

$color--accent: #2f87a5;
$color--accent--burgundy: #ab534d;
$color--accent--purple: #a37aeb;
$color--accent--magenta: #e071dc;
$color--accent--magentaDarkened: #873385;
$color--accent--yellow: #ffb756;
$color--foreground: #0b2d7c;
$color--foreground--faded: rgba($color--foreground, 0.6);
$color--background: white;
$color--background--faded: rgba($color--foreground, 0.1);

$colorPalette: (
    'accent': #2f87a5,
    'burgundy': #ab534d,
    'purple': #a37aeb,
    'teal': #2f87a5,
    'magenta': #e071dc,
    'magentaDarkened': #873385,
    'yellow': #ffb756,
    'foreground': #0b2d7c,
    'foreground--secondary': #707785,
    'background': white,
);
$spotColors: (
    'foreground--faded': '.u-color--foreground--300',
    'background--faded': '.u-color--background--100',
);
$variants: (
    'base': 400,
    'lightened': (
        100: 0.1,
        200: 0.3,
        300: 0.6,
    ),
    'darkened': (
        500: 0.1,
        600: 0.3,
        700: 0.6,
    ),
);

$breakpointDefinitions: (
    desktop: (
        constraint-name: min-width,
        constraint-value: 1280px,
        grid-width: 1170px,
    ),
    tablet: (
        constraint-name: min-width,
        constraint-value: 1024px,
        grid-width: 960px,
    ),
    mobile: (
        constraint-name: max-width,
        constraint-value: 1023px,
        grid-width: 85vw,
    )
);

$borderStyles: (
    'hairline': 1px solid rgba($color--foreground, 0.1),
    'normal': 2px solid $color--foreground,
    'thick': 4px solid rgba($color--foreground, 0.1),
);
$border--hairline: map-get($borderStyles, 'hairline');
$border--normal: map-get($borderStyles, 'normal');
$border--thick: map-get($borderStyles, 'thick');

$borderRadii: (
    'normal': 8px,
    'large': 16px,
    'xlarge': 24px,
    'circle': 1000px,
);
$borderRadius--normal: map-get($borderRadii, 'normal');
$borderRadius--large: map-get($borderRadii, 'large');
$borderRadius--xlarge: map-get($borderRadii, 'xlarge');
$borderRadius--circle: map-get($borderRadii, 'circle');

$boxShadowStyles: (
    'avatar': 0 20px 40px 0,
    'normal': 0 10px 50px 0 rgba(black, 0.1),
    'inset': 2px 2px 4px 0 rgba(black, 0.2) inset,
);
$boxShadow--normal: map-get($boxShadowStyles, 'normal');
$boxShadow--inset: map-get($boxShadowStyles, 'inset');

$fontFamily--body: Inter, sans-serif;
$fontFamily--display: Glegoo, sans-serif;

$fontSizeBase: (
    'mobile': 16px,
    'tablet': 20px,
    'desktop': 24px,
);

$fontSizes: (
    'small': (
        'size': 0.67rem,
        'line-height': 1.1em,
    ),
    'normal': (
        'size': 1rem,
        'line-height': 1.6em,
    ),
    'large': (
        'size': 1.17rem,
        'line-height': 1.1em,
    ),
    'xlarge': (
        'size': 1.33rem,
        'line-height': 1.4em,
    ),
    'h1': (
        'size': 3.75rem,
        'line-height': 1.1em,
    ),
    'h2': (
        'size': 3.33rem,
        'line-height': 1.1em,
    ),
    'h3': (
        'size': 2.67rem,
        'line-height': 1.1em,
    ),
    'h4': (
        'size': 2.33rem,
        'line-height': 1.1em,
    ),
    'h5': (
        'size': 2rem,
        'line-height': 1.1em,
    ),
    'h6': (
        'size': 1.67rem,
        'line-height': 1.4em,
    ),
);

$fontWeight--body--normal: 300;
$fontWeight--body--bold: 500;
$fontWeight--display: 600;

$gridSizes: (
    'xtight': calc(var(--gridUnit) * 0.25),
    'tight': calc(var(--gridUnit) * 0.5),
    'normal': var(--gridUnit),
    'loose': calc(var(--gridUnit) * 2),
    'xloose': calc(var(--gridUnit) * 4),
);

$heading--decorativeUnderlineWidth: 70px;

$textShadow--lightOnDark: 1px 1px 3px rgba(black, 0.6);

$whiteSpace--xtight: calc(var(--gridUnit) * 0.25);
$whiteSpace--tight: calc(var(--gridUnit) * 0.5);
$whiteSpace--normal: var(--gridUnit);
$whiteSpace--loose: calc(var(--gridUnit) * 2);
$whiteSpace--xloose: calc(var(--gridUnit) * 4);

@mixin responsiveStylesFor($breakpointName) {
    $breakpointDefinition: map-get($breakpointDefinitions, $breakpointName);
    $constraintName: map-get($breakpointDefinition, 'constraint-name');
    $constraintValue: map-get($breakpointDefinition, 'constraint-value');

    @media screen and (#{$constraintName}: $constraintValue) {
        @content;
    }
}

* {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    color: unset;
    font-size: inherit;
    line-height: 1.5em;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root {
    --gridUnit: 20px;

    --avatarSize--normal: 60px;
    --avatarSize--large: 88px;
    --avatarSize--xlarge: 120px;

    background: $color--background;
    color: $color--foreground;
    font-family: $fontFamily--body;
    font-size: map-get($fontSizeBase, 'mobile');
    font-weight: $fontWeight--body--normal;
    overflow-x: hidden;
    scroll-padding-top: 140px;

    @include responsiveStylesFor('tablet') {
        --gridUnit: 30px;
        font-size: map-get($fontSizeBase, 'tablet');
    }

    @include responsiveStylesFor('desktop') {
        --gridUnit: 30px;
        font-size: map-get($fontSizeBase, 'desktop');
    }
}
.aboutUs-valuesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.aboutUs-valuesGridHeader {
    grid-column-start: 1;
    grid-column-end: 3;
}
.avatar,
.avatarSpacer {
    align-items: center;
    border-radius: 1000px;
    display: flex;
    flex-shrink: 0;
    height: var(--avatarSize, --avatarSize--normal);
    justify-content: center;
    width: var(--avatarSize, --avatarSize--normal);
}
.avatar {
    @extend .u-boxShadow--inset;
    @extend .u-fontSize--xlarge;

    background-color: $color--accent;
    color: white;
    position: relative;
    text-shadow: $textShadow--lightOnDark;

    &::after {
        background-color: inherit;
        border-radius: 1000px;
        bottom: -10px;
        content: "";
        filter: blur(40px);
        height: 70%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 70%;
    }
}
.avatar--large {
    --avatarSize: var(--avatarSize--large);
}
.avatar--xlarge {
    --avatarSize: var(--avatarSize--xlarge);
}
@keyframes bgBubblePulsate {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 0.6;
    }
}
@keyframes bgBubbleRotate {
    from {
        transform: scale(2) rotate(0) translate(1%, 1%);
    }
    to {
        transform: scale(2) rotate(359deg) translate(1%, 1%);
    }
}
.bgBubbles {
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -1;
}
.bgBubble {
    --animation-duration: 4s;

    animation-direction: alternate;
    animation-duration: var(--animation-duration),
        calc(var(--animation-duration) * 2);
    animation-iteration-count: infinite;
    animation-name: bgBubblePulsate, bgBubbleRotate;
    animation-timing-function: ease;
    border-radius: 100vw;
    height: 700px;
    position: fixed;
    width: 700px;
}
.bgBubble--a {
    --animation-duration: 4s;

    left: -20vw;
    top: -20vh;
}
.bgBubble--b {
    --animation-duration: 6s;

    right: -5vw;
    top: -40vh;
}
.bgBubble--c {
    --animation-duration: 5s;

    right: -30vw;
    bottom: -20vh;
}
.bgGalaxy {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 100px;
    padding-top: 100px;
}
.bgOrbits {
    background-position: top right;
    background-repeat: no-repeat;
}
.button {
    @extend .u-fontSize--small;

    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: $fontFamily--display;
    font-weight: $fontWeight--display;
    padding: $whiteSpace--tight $whiteSpace--normal;
    transition: transform 0.25s;
    white-space: nowrap;

    &:hover {
        transform: scale(1.05);
    }
}
[class*='button--'] {
    @extend .button;
}
.button--primary {
    background-color: $color--foreground;
    color: white;

    .highContrast & {
        background-color: white;
        color: $color--foreground;
    }
}
.button--secondary {
    @extend .u-border--hairline;
    border-color: #{map-get($colorPalette, 'foreground')} !important;
}
.button--tertiary {
    @extend .u-fontSize--normal;
    text-decoration: underline;
}
.careersPage-avatarList {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.careersPage-avatarListItem {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 120px;
    width: 120px;

    @include responsiveStylesFor('desktop') {
        height: 140px;
        width: 140px;
    }
}
.careersPage-avatarListSpacer {
    @extend .u-fontSize--h3;
}
.careersPage-avatarListUser {
    background-color: map-get($colorPalette, 'foreground');
    border-radius: 1000px;
    color: map-get($colorPalette, 'background');
}
.formField {
    @extend .u-rowGap--xtight;
    cursor: pointer;
    width: 50%;

    .siteFooter & {
        width: 100%;
    }
}
.formField-label {
    @extend .u-fontSize--small;
    font-weight: bold;
    white-space: nowrap;
}
.grid {
    $mobileBreakpointDefinition: map-get($breakpointDefinitions, 'mobile');
    $tabletBreakpointDefinition: map-get($breakpointDefinitions, 'tablet');
    $desktopBreakpointDefinition: map-get($breakpointDefinitions, 'desktop');

    --grid-width: #{map-get($mobileBreakpointDefinition, 'grid-width')};

    @include responsiveStylesFor('tablet') {
        --grid-width: #{map-get($tabletBreakpointDefinition, 'grid-width')};
    }

    @include responsiveStylesFor('desktop') {
        --grid-width: #{map-get($desktopBreakpointDefinition, 'grid-width')};
    }

    --width-of-single-column: calc(
        (var(--grid-width) - (11 * var(--gridUnit))) / 12
    );

    margin: 0 auto;
    width: var(--grid-width);
}
.grid-container {
    & + & {
        margin-top: $whiteSpace--loose;
    }
}
.heading {
    font-family: $fontFamily--display;
    font-weight: $fontWeight--display;
    width: 100%;
}
.highContrast {
    @extend .u-backgroundColor--foreground;
    @extend .u-borderRadius--xlarge;
    border-radius: $borderRadius--xlarge;
    color: white;
}
.homePage-heading {
    @extend .u-color--foreground--300;

    &:first-line {
        @extend .u-color--foreground;
    }
}
[class*='horizontalRule'] {
    background-color: transparent;
    border-width: 0;
    border-bottom: $border--hairline;
    border-color: $color--foreground;
    border-style: solid;
}
.horizontalRule--hairline {
    border-color: $color--background--faded;
}
.iconifiedMetaData {
    display: flex;
    color: $color--foreground--faded;
    column-gap: $whiteSpace--normal;
}
.iconifiedMetaData-labelText {
    display: none;
}
.iconifiedMetaData-labelValuePair {
    display: flex;
    column-gap: $whiteSpace--tight;
}
.input {
    @extend .u-fontSize--small;

    border: $border--hairline;
    border-color: $color--foreground;
    padding: $whiteSpace--tight $whiteSpace--normal;
    width: 100%;

    &::placeholder {
        color: $color--foreground--faded;
        position: relative;
    }

    .highContrast & {
        border-color: white;
        background-color: transparent;
        color: white;

        &::placeholder {
            color: rgba(white, 0.6);
        }
    }
}
.link,
.link--discreet {
    cursor: pointer;
}
.link {
    color: $color--accent;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}
.link--discreet {
    color: $color--foreground;

    &:hover {
        color: $color--accent;
        text-decoration: none;
    }
}
[class*='logo--'] {
    // background-image set in _layouts/default.html
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    font-size: 0;
}
.logo--footer {
    height: 68px;
    width: 170px;
    margin-top: calc(#{$whiteSpace--tight} * -1);
}
.logo--header {
    height: 48px;
    width: 120px;
}
.lowContrast {
    border-radius: $borderRadius--xlarge;
}
[class*='lowContrast--'] {
    @extend .lowContrast;
}
.lowContrast--accent {
    background-color: rgba($color--accent, 0.1);
}
.lowContrast--purple {
    background-color: rgba($color--accent--purple, 0.1);
}
.lowContrast--yellow {
    background-color: rgba($color--accent--yellow, 0.1);
}
.photo {
    display: inline-block;
    width: 100%;
}
.photo--autoWidth {
    display: inline-block;
    width: auto;
}
.pill {
    @extend .u-fontSize--small;

    background-color: $color--background--faded;
    border-radius: 1000px;
    color: $color--foreground--faded;
    display: inline-block;
    padding: calc(#{$whiteSpace--xtight} / 2) $whiteSpace--xtight;
    vertical-align: middle;
}
.post {
    a:not([class]) {
        @extend .link;
    }
    ol:not([class]),
    ul:not([class]) {
        @extend .u-rowGap, .u-rowGap--tight;
        padding-left: $whiteSpace--xloose;
    }
    li:not([class]) {
        position: relative;

        &::before {
            color: $color--accent;
            content: '\f178';
            font-family: 'Font Awesome 5 Pro';
            font-weight: 100;
            left: 0;
            position: absolute;
            top: 0;
            transform: translateX(-200%);
        }
    }
    h3:not([class]) {
        @extend .heading, .u-fontSize--h6;
    }
    h4:not([class]) {
        @extend .heading, .u-fontSize--xlarge;
    }
    h5:not([class]) {
        @extend .heading, .u-fontSize--large;
    }
}
[class*='sectionTitle-heading'] {
    @extend .u-marginBottom--tight;
    @extend .u-paddingBottom--tight;
    position: relative;

    &::after {
        border-bottom: $border--thick;
        border-color: $color--accent--magentaDarkened;
        content: '';
        position: absolute;
        top: 100%;
        width: $heading--decorativeUnderlineWidth;
    }
}
.sectionTitle-heading {
    &--leftAligned {
        text-align: left;

        &::after {
            left: 0;
        }
    }
    &--centerAligned {
        text-align: center;

        &::after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &--rightAligned {
        text-align: right;

        &::after {
            right: 0;
        }
    }
}
.siteFooter.siteFooter {
    margin-top: $whiteSpace--xloose;
}
.siteHeader {
    @extend .u-fontSize--small;

    align-items: center;
    align-self: flex-start;
    display: flex;
    font-family: $fontFamily--display;
    font-weight: $fontWeight--display;
    justify-content: space-between;
    margin-bottom: $whiteSpace--loose;
    padding: $whiteSpace--normal 0;
}
@include responsiveStylesFor('mobile') {
    $navWidth: 70vw;

    .siteHeader-menuItems {
        display: flex;
        flex-direction: column;
        row-gap: $whiteSpace--tight;
    }
    .siteHeader-menuToggleButton {
        cursor: pointer;
        margin-bottom: $whiteSpace--normal;
        margin-left: $whiteSpace--normal;
    }
    .siteHeader-nav {
        color: map-get($colorPalette, 'foreground');
        font-size: map-deep-get($fontSizes, 'xlarge', 'size');
        height: 100vh;
        left: calc(100vw - (#{$whiteSpace--normal} * 4));
        padding: $whiteSpace--normal 0;
        position: fixed;
        top: 0;
        transition: all 0.25s;
        width: $navWidth;
        z-index: 5000;

        &::before {
            background-color: rgba(map-get($colorPalette, 'background'), 0.8);
            content: "";
            height: 100vh;
            left: 0;
            opacity: 0;
            pointer-events: none;
            position: fixed;
            top: 0;
            transition: all 0.25s;
            width: calc(100vw - #{$navWidth});
            z-index: 5000;
        }

        .siteHeader-menuItems {
            opacity: 0;
            transition: opacity 0.25s;
        }

        &.is-open {
            background-color: map-get($colorPalette, 'foreground');
            color: map-get($colorPalette, 'background');
            left: calc(100vw - #{$navWidth});

            &::before {
                opacity: 1;
                pointer-events: all;
                transition-delay: 0.25s;
            }

            .siteHeader-menuItems {
                opacity: 1;
            }
        }
    }
    .siteHeader-menuItem,
    .siteHeader-subMenuItem {
        padding: $whiteSpace--xtight $whiteSpace--normal;
    }
    .siteHeader-menuItem--isActive {
        background-color: rgba(map-get($colorPalette, 'background'), 0.1);
        color: rgba(map-get($colorPalette, 'background'), 0.8);
        font-weight: 900;
    }
    .siteHeader-subMenu {
        margin-top: $whiteSpace--xtight;
    }
    .siteHeader-subMenuItem--isActive {
        background-color: rgba(map-get($colorPalette, 'background'), 0.2);
    }
}
@include responsiveStylesFor('tablet') {
    .siteHeader-menuItems {
        display: flex;
        column-gap: $whiteSpace--normal;
    }
    .siteHeader-menuItemButton {
        cursor: pointer;
        display: block;
        padding-bottom: $whiteSpace--xtight;

        &:focus,
        &:hover {
            color: $color--accent;
        }
        .siteHeader-menuItem--hasSubMenu & {
            align-items: center;
            column-gap: $whiteSpace--xtight;
            display: flex;
        }
    }
    .siteHeader-menuItem--hasSubMenu {
        position: relative;
    }
    .siteHeader-menuItem--isActive {
        color: $color--accent;
        position: relative;

        &::after {
            background-color: $color--accent;
            content: '';
            height: 2px;
            left: 0;
            position: absolute;
            right: 0;
            top: 100%;
        }
    }
    .siteHeader-menuToggleButton {
        display: none;
    }
    .siteHeader-subMenu {
        background-color: white;
        border-radius: $borderRadius--normal;
        box-shadow: $boxShadow--normal;
        left: calc((#{$whiteSpace--tight} + #{$whiteSpace--xtight}) * -1);
        min-width: 200px;
        opacity: 0;
        padding: $whiteSpace--xtight;
        pointer-events: none;
        position: absolute;
        top: 100%;
        transform: scale(0.8);
        transition: all 0.125s;
        transition-property: opacity, transform;
        white-space: nowrap;

        .siteHeader-menuItem--hasSubMenu:focus-within > &,
        .siteHeader-menuItem--hasSubMenu:hover > & {
            opacity: 1;
            pointer-events: all;
            transform: scale(1);
            transition-delay: 0.25s;
        }
    }
    .siteHeader-subMenuItemButton {
        display: block;
        font-weight: $fontWeight--body--normal;
        padding: $whiteSpace--xtight $whiteSpace--tight;

        &:focus,
        &:hover {
            background-color: rgba($color--accent, 0.1);
            color: $color--accent;
        }
    }
}
.tabbedNav {
    border-bottom: $border--hairline;
}
.tabbedNav-tabs {
    column-gap: $whiteSpace--loose;
    display: flex;
    font-family: $fontFamily--display;
    font-weight: $fontWeight--display;
}
.tabbedNav-tab {
}
.tabbedNav-tabButton {
    display: block;
    padding-bottom: $whiteSpace--tight;

    .tabbedNav-tab.is-active > & {
        border-bottom: $border--thick;
        border-color: $color--accent;
        color: $color--accent;
    }
}
$flexProperties: (
    'alignItems': align-items,
    'justifyContent': justify-content,
);
@each $flexPropertyName, $flexPropertyCSSName in $flexProperties {
    .u-#{$flexPropertyName}--flexStart {
        @include increaseSpecificity {
            #{$flexPropertyCSSName}: flex-start;
        }
    }
    .u-#{$flexPropertyName}--center {
        @include increaseSpecificity {
            #{$flexPropertyCSSName}: center;
        }
    }
    .u-#{$flexPropertyName}--stretch {
        @include increaseSpecificity {
            #{$flexPropertyCSSName}: stretch;
        }
    }
}
.u-alignItems--flexEnd {
    align-items: flex-end;
}
.u-alignItems--stretch {
    & > * {
        flex-grow: 1;
    }
}
@each $colorName, $colorCode in $colorPalette {
    .u-backgroundColor--#{$colorName} {
        @include increaseSpecificity() {
            background-color: $colorCode !important;
        }
    }
    .u-borderColor--#{$colorName} {
        @include increaseSpecificity() {
            border-color: $colorCode !important;
        }
    }
    .u-color--#{$colorName} {
        @include increaseSpecificity() {
            color: $colorCode !important;
        }
    }

    @each $variantName, $adjustmentPercentage in map-get($variants, 'lightened')
    {
        $modifiedColor: rgba($colorCode, $adjustmentPercentage);

        .u-backgroundColor--#{$colorName}--#{$variantName} {
            @include increaseSpecificity() {
                background-color: $modifiedColor !important;
            }
        }
        .u-borderColor--#{$colorName}--#{$variantName} {
            @include increaseSpecificity() {
                border-color: $modifiedColor !important;
            }
        }
        .u-color--#{$colorName}--#{$variantName} {
            @include increaseSpecificity() {
                color: $modifiedColor !important;
            }
        }
    }
}
@each $borderRadiusName, $borderRadius in $borderRadii {
    .u-borderRadius--#{$borderRadiusName} {
        border-radius: $borderRadius;
    }
}
@each $borderStyleName, $borderStyle in $borderStyles {
    .u-border--#{$borderStyleName} {
        border: $borderStyle;
    }
    .u-borderBottom--#{$borderStyleName} {
        border-bottom: $borderStyle;
    }
    .u-borderLeft--#{$borderStyleName} {
        border-left: $borderStyle;
    }
    .u-borderRight--#{$borderStyleName} {
        border-right: $borderStyle;
    }
    .u-borderTop--#{$borderStyleName} {
        border-top: $borderStyle;
    }
    .u-borderX--#{$borderStyleName} {
        border-left: $borderStyle;
        border-right: $borderStyle;
    }
    .u-borderY--#{$borderStyleName} {
        border-bottom: $borderStyle;
        border-top: $borderStyle;
    }
}
@each $borderRadiusName, $borderRadius in $borderRadii {
    .u-borderRadius--#{$borderRadiusName} {
        border-radius: $borderRadius;
    }
}
@each $boxShadowStyleName, $boxShadowStyle in $boxShadowStyles {
    .u-boxShadow--#{$boxShadowStyleName} {
        box-shadow: $boxShadowStyle;
    }
}
.u-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.u-stackVerticallyIfMobile {
    @include responsiveStylesFor('mobile') {
        flex-direction: column !important;
        align-items: stretch !important;

        & > * {
            flex-grow: 1 !important;
        }
    }
}
.u-columnGap,
.u-rowGap {
    display: flex;
}
.u-columnGap {
    flex-direction: row;
    align-items: center;
}
.u-rowGap {
    flex-direction: column;
}
[class*='u-columnGap--'] {
    @extend .u-columnGap;
}
[class*='u-rowGap--'] {
    @extend .u-rowGap;
}
[class*='u-columns--'] {
    @extend .u-stackVerticallyIfMobile;
}
@include responsiveStylesFor('tablet') {
    .u-columns {
        display: grid;
    }
    [class*='u-columns--'] {
        @extend .u-columns;
    }
    .u-spanColumns {
        flex-grow: 0;
    }
    [class*='u-spanColumns--'] {
        @extend .u-spanColumns;
    }
    @for $i from 1 through 12 {
        .u-columns--#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
        .u-spanColumns--#{$i} {
            --num-gutters: calc(#{$i} - 1);
            --gutter-widths: calc(var(--num-gutters) * var(--gridUnit));

            width: calc(var(--width-of-single-column) * #{$i} + var(--gutter-widths));
        }
    }
}
@each $gridSizeName, $whiteSpaceValue in $gridSizes {
    .u-columnGap--#{$gridSizeName} {
        @include responsiveStylesFor('mobile') {
            row-gap: $whiteSpaceValue !important;
            column-gap: 0;
        }
        @include increaseSpecificity {
            column-gap: $whiteSpaceValue;
        }
    }
    .u-rowGap--#{$gridSizeName} {
        @include increaseSpecificity {
            row-gap: $whiteSpaceValue;
        }
    }
    .u-padding--#{$gridSizeName} {
        @include increaseSpecificity {
            padding: $whiteSpaceValue;
        }
    }
    .u-paddingBottom--#{$gridSizeName} {
        @include increaseSpecificity {
            padding-bottom: $whiteSpaceValue;
        }
    }
    .u-paddingLeft--#{$gridSizeName} {
        @include increaseSpecificity {
            padding-left: $whiteSpaceValue;
        }
    }
    .u-paddingRight--#{$gridSizeName} {
        @include increaseSpecificity {
            padding-right: $whiteSpaceValue;
        }
    }
    .u-paddingTop--#{$gridSizeName} {
        @include increaseSpecificity {
            padding-top: $whiteSpaceValue;
        }
    }
    .u-paddingX--#{$gridSizeName} {
        @include increaseSpecificity {
            padding-left: $whiteSpaceValue;
            padding-right: $whiteSpaceValue;
        }
    }
    .u-paddingY--#{$gridSizeName} {
        @include increaseSpecificity {
            padding-bottom: $whiteSpaceValue;
            padding-top: $whiteSpaceValue;
        }
    }
    .u-margin--#{$gridSizeName} {
        @include increaseSpecificity {
            margin: $whiteSpaceValue;
        }
    }
    .u-marginBottom--#{$gridSizeName} {
        @include increaseSpecificity {
            margin-bottom: $whiteSpaceValue;
        }
    }
    .u-marginLeft--#{$gridSizeName} {
        @include increaseSpecificity {
            margin-left: $whiteSpaceValue;
        }
    }
    .u-marginRight--#{$gridSizeName} {
        @include increaseSpecificity {
            margin-right: $whiteSpaceValue;
        }
    }
    .u-marginTop--#{$gridSizeName} {
        @include increaseSpecificity {
            margin-top: $whiteSpaceValue;
        }
    }
    .u-marginX--#{$gridSizeName} {
        @include increaseSpecificity {
            margin-left: $whiteSpaceValue;
            margin-right: $whiteSpaceValue;
        }
    }
    .u-marginY--#{$gridSizeName} {
        @include increaseSpecificity {
            margin-bottom: $whiteSpaceValue;
            margin-top: $whiteSpaceValue;
        }
    }
}
.u-flexDirection--rowReverse {
    flex-direction: row-reverse;
}
.u-flexWrap {
    flex-wrap: wrap;
}
@each $fontSizeName, $fontDefinition in $fontSizes {
    $fontSize: map-get($fontDefinition, 'size');
    $lineHeight: map-get($fontDefinition, 'line-height');

    .u-fontSize--#{$fontSizeName} {
        font-size: $fontSize;
        line-height: $lineHeight;
    }
}
.u-justifyContent--flexEnd {
    justify-content: flex-end;
}
.u-justifyContent--spaceBetween {
    justify-content: space-between;
}
.u-masonryIsh {
    column-count: 3;
    column-gap: var(--gridUnit);
}
.u-screenReadersOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.u-sticky {
    @include responsiveStylesFor('tablet') {
        backdrop-filter: blur(10px);
        background-color: rgba(map-get($colorPalette, 'background'), 0.3);
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}
.u-textAlign--center {
    text-align: center;
}
.u-whiteSpace--nowrap {
    white-space: nowrap;
}
