---
title: We build infrastructure and tools for the Interchain.
superTitle: Products
intro: |
    We use Rust and formal verification tools to build open source,
    fault-tolerant, distributed systems.
---
{%
    include page-title.html
        title=page.title
        superTitle=page.superTitle
        intro=page.intro
%}

{% capture content %}
    <p>
        We are a leading contributor to the Tendermint and Cosmos projects, focused on
        formally verifiable implementations in Rust.
    </p>
    <p>
        <button class="button--tertiary">
            Contact Us
        </button>
    </p>
{% endcapture %}

{%
    include section-title.html
        title="Blockchain Infrastructure"
        content=content
%}

<div class="grid-container">
    <div
        class="
            grid
            u-columnGap--normal
            u-alignItems--stretch
            u-stackVerticallyIfMobile
        "
    >
        {% for product in site.data.products.blockChainProducts %}
            <div
                class="
                    u-backgroundColor--{{ product.color }}--100
                    u-borderRadius--xlarge
                    u-centered
                    u-justifyContent--flexStart
                    u-padding--normal
                    u-rowGap--normal
                    u-spanColumns--4
                "
            >
                <div
                    class="
                        avatar
                        avatar--large
                        u-backgroundColor--{{ product.color }}
                        u-borderRadius--circle
                        u-boxShadow--fancy
                    "
                >
                    <img
                        src="{{ product.icon | relative_url }}"
                        alt="Logo for {{ product.label }}"
                    />
                </div>
                <h3 class="heading u-fontSize--xlarge">
                    {{ product.title }}
                </h3>

                {{ product.description }}

                <ul class="u-columnGap--tight">
                    {% for socialLink in product.socialLinks %}
                        <li>
                            <a
                                href="{{ socialLink.url }}"
                                title="{{ socialLink.label }}"
                            >
                                <i class="{{ socialLink.icon }}"></i>
                                <span class="u-screenReadersOnly">
                                    {{ socialLink.label }}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

{% capture content %}
    <p>
        We build formal verification tools that we leverage in our security audits.
    </p>
    <p>
        <button class="button--tertiary">
            Jump to Security Audits
        </button>
    </p>
{% endcapture %}

{%
    include section-title.html
        title="Formal Verification Tools"
        content=content
%}

<div class="grid-container">
    <div
        class="
            grid
            u-columnGap--normal
            u-centered
            u-alignItems--stretch
            u-stackVerticallyIfMobile
        "
    >
        {% for product in site.data.products.verificationProducts %}
            <div
                class="
                    u-backgroundColor--{{ product.color }}--100
                    u-borderRadius--xlarge
                    u-centered
                    u-justifyContent--flexStart
                    u-padding--normal
                    u-rowGap--normal
                    u-spanColumns--4
                "
            >
                <div
                    class="
                        avatar
                        avatar--large
                        u-backgroundColor--{{ product.color }}
                        u-borderRadius--circle
                        u-boxShadow--fancy
                    "
                >
                    <img
                        src="{{ product.icon | relative_url }}"
                        alt="Logo for {{ product.label }}"
                    />
                </div>
                <h3 class="heading u-fontSize--xlarge">
                    {{ product.title }}
                </h3>

                {{ product.description }}

                <ul class="u-columnGap--tight">
                    {% for socialLink in product.socialLinks %}
                        <li>
                            <a
                                href="{{ socialLink.url }}"
                                title="{{ socialLink.label }}"
                            >
                                <i class="{{ socialLink.icon }}"></i>
                                <span class="u-screenReadersOnly">
                                    {{ socialLink.label }}
                                </span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

<div
    class="
        grid-container
        u-backgroundColor--purple--100
    "
>
    <div
        class="
            grid
            u-centered
            u-columnGap--xloose
            u-paddingY--loose
            u-stackVerticallyIfMobile
        "
    >
        <div>
            <img
                src="{{ 'assets/img/logo-cosmos.svg' | relative_url }}"
                alt="Logo for Cosmos network"
            />
        </div>
        <div>
            Our Infrastructure powers the Cosmos network.
        </div>
    </div>
</div>
