<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}</title>
        <link
            rel="stylesheet"
            href="{{ '/assets/css/main.css' | relative_url }}"
        />
        <style>
            .siteHeader-logoLink {
                background-image:
                    url({{ 'assets/img/logo.svg' | relative_url }}); 
            }
        </style>
    </head>
    <body>
        <div class="grid-container">
            <div class="grid">
                <header class="siteHeader">
                    <h1 class="siteHeader-logo">
                        <a href="{{ site.menuItems[0].url | relative_url }}" class="siteHeader-logoLink">
                            informal
                        </a>
                    </h1>
                    <nav class="siteHeader-nav">
                        <ul class="siteHeader-navItems">
                            {% for menuItem in site.menuItems %}
                                <li
                                    class="
                                        siteHeader-navItem
                                        {% if page.url == menuItem.url %}
                                            siteHeader-navItem--isActive
                                        {% endif %}
                                        {% if menuItem.subMenuItems.size > 0 %}
                                            siteHeader-navItem--hasSubMenu
                                        {% endif %}
                                    "
                                >
                                    <a
                                        href="{{ menuItem.url | relative_url }}"
                                        class="siteHeader-navItemButton"
                                    >
                                        {{ menuItem.label }}
                                    </a>
                                    {% if menuItem.subMenuItems.size > 0 %}
                                        <ul class="siteHeader-subMenu">
                                            {% for subMenuItem in menuItem.subMenuItems %}
                                                <li class="siteHeader-subMenuItem">
                                                    <a
                                                        href="{{ subMenuItem.url | relative_url }}"
                                                        class="siteHeader-subMenuItemButton"
                                                    >
                                                        {{ subMenuItem.label }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </header>
            </div>
        </div>
        {{ content }}
        <div class="bgBubbles">
            <div class="bgBubble bgBubble--a"></div>
            <div class="bgBubble bgBubble--b"></div>
            <div class="bgBubble bgBubble--c"></div>
        </div>
    </body>
</html>
