---
title: Secure the network. Align your incentives.
superTitle: Services
intro: |
    Cephalopod Equipment is a leading Interchain service provider offering Proof of
    Stake validation and IBC relaying on major Cosmos networks, and beyond.
---

<main class="u-rowGap--xloose">
    {%
        include page-title.html
            title=page.title
            superTitle=page.superTitle
            intro=page.intro
    %}

    <section class="grid u-columnGap--normal u-stackVerticallyIfMobile">
        <div class="u-rowGap--normal u-spanColumns--7">
            <h3
                class="
                    heading
                    sectionTitle-heading--leftAligned
                    u-fontSize--h6
                "
            >
                Proof of Stake Validation
            </h3>
            <p>
                Cephalopod Equipment brings high-quality validation services to
                the Cosmos ecosystem. Cephalopod has been an active validator
                since the genesis block of the Cosmos Hub. We are building tools
                and infrastructure to improve the utility of the Hub and other
                Cosmos-based projects.
            </p>
            <p>
                <a
                    class="button--primary"
                    href="https://cephalopod.equipment/"
                    target="_blank"
                >
                    Learn more about Cephalopod
                </a>
            </p>
        </div>
        <div class="u-spanColumns--5">
            <img
                class="photo"
                src="{{
                    'assets/img/services/art-cephalopod.svg'
                        | relative_url
                }}"
            />
        </div>
    </section>

    <section>
        {% include banner-cephalopod.html %}
    </section>

    <section class="grid u-columnGap--normal u-flexDirection--rowReverse u-stackVerticallyIfMobile">
        <div class="u-rowGap--normal u-spanColumns--7">
            <h3
                class="
                    heading
                    sectionTitle-heading--leftAligned
                    u-fontSize--h6
                "
            >
                IBC Relaying
            </h3>
            <p>
                Hermes is an open-source relayer implemented in Rust for the
                Inter-Blockchain Communication (IBC) ecosystem. We build and
                operate relaying infrastructure for blockchains that secure
                billions of dollars in value. We operate Hermes on multiple
                networks and deliver the best quality relaying experience for
                the Internet of Blockchains.
            </p>
            <div class="u-columnGap--normal u-fontSize--small">
                <p>
                    <a class="button--primary" href="https://hermes.informal.systems/" target=“_blank”>
                        Learn more
                    </a>
                </p>
                <p>
                    <a class="button--secondary" href="mailto:hello@informal.systems">
                         Ask us about relayer operations
                    </a>
                </p>
            </div>
        </div>
        <div class="u-centered u-spanColumns--5">
            <img
                class="photo--autoWidth"
                src="{{
                    'assets/img/services/art-ibc.svg'
                        | relative_url
                }}"
            />
        </div>
    </section>

    <section class="grid u-rowGap--loose">
        <h3
            class="
                heading
                sectionTitle-heading--centerAligned
                u-fontSize--h3
            "
        >
            Networks Supported
        </h3>

        <ul class="u-centered u-columnGap--loose u-stackVerticallyIfMobile">
            <li>
                <img
                    class="photo"
                    src="{{
                        'assets/img/logo-osmosis.png'
                            | relative_url
                    }}"
                />
            </li>
            <li>
                <img
                    class="photo"
                    src="{{
                        'assets/img/logo-cosmos.svg'
                            | relative_url
                    }}"
                />
            </li>
            <li>
                <img
                    class="photo"
                    src="{{
                        'assets/img/logo-regen.svg'
                            | relative_url
                    }}"
                />
            </li>
            <li>
                <img
                    class="photo"
                    src="{{
                        'assets/img/logo-starkware.png'
                            | relative_url
                    }}"
                />
            </li>
        </ul>
    </section>

    <!--
    <section class="u-backgroundColor--magenta--100">
        <div
            class="
                grid
                u-paddingY--xloose
                u-rowGap--loose
            "
        >
            <h3 class="heading u-fontSize--h3 u-columnGap--normal">
                <img
                    src="{{ 'assets/img/product-logos/hermes-fancy.svg' | relative_url }}"
                    alt="Logo for Apalache"
                />
                <span>Hermes</span>
            </h3>
            <p>
                Hermes is an open-source relayer implemented in Rust for the
                Inter-Blockchain Communication (IBC) ecosystem. We build and
                operate relaying infrastructure for blockchains that secure
                billions of dollars in value. We operate Hermes on multiple
                networks and deliver the best quality relaying experience for
                the Internet of Blockchains.
            </p>
            <p class="u-columnGap--normal">
                <a href="#" class="button--primary">
                    Learn More
                </a>
                <a href="#" class="button--secondary">
                    <i class="fab fa-github"></i>
                    Github
                </a>
            </p>
        </div>
    </section>
    -->

    <section>
        {% capture content %}
            <!-- Caption for Twitter section goes here, inside <p></p> tags! -->
        {% endcapture %}

        {%
            include section-title.html
                title="Join us on Twitter"
                content=content
        %}

        <div
            class="
                grid
                u-alignItems--flexStart
                u-columns--3
                u-columnGap--normal
            "
        >
            {% for tweet in site.data.config.tweets %}
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">
                        <a href="https://twitter.com/tweet/status/{{ tweet }}" target=“_blank”>
                            Loading...
                        </a>
                    </p>
                </blockquote>
            {% endfor %}
        </div>
    </section>

    <section>
        {% include banner-newsletter.html %}
    </section>
</main>
